**Q1. What are data structures, and why are they important?**

Ans. Data structures are ways of organising and storing data , so that user can easily access, manipulate and modify the data.

Importance:
    
  

*   They improve efficiency of operators.
*   Helps in managing large amounts of data.

**Q2. Explain the difference between mutable and immutable data types with examples?**

Ans. Mutable data types- can be changed after creation, one can access, manipulate and modify the data.
   
   e.g - list= [1,2,3] list[0] = 10 (this will work)
   
   Immutable data types- can't be changed after creation.

   e.g- str= "pravesh"    srt[2]= 'a' ..... (it will throws an error.)

     


**Q3.What are the main differences between lists and tuples in Python?**

Ans. List - lists are typically can be modified after creation and written with
[].

   Tuples - tuples are immutable and faster and gives protection to the data  and  written with ().


**Q4.Describe how dictionaries store data?**

Ans.  They use key- value pairs , data store in a hash table, allows fast access.


**Q5.Why might you use a set instead of a list in Python?**

Ans. set as we know is mutable so do the list but the main reason of using set instead of list is set don't allow duplicate values and also removes duplicates automatically.


**Q6.What is a string in Python, and how is it different from a list?**

Ans. A string in python is a sequence of charaters and immutable in nature but a list can store any type of data and mutable.

   s = "pravesh" ( string)

   lst = ["p","r","a","v","e","s","h", 1,2,5.1, True] (list)


**Q7.How do tuples ensure data integrity in Python?**

Ans. Tuples are immutable, once created can,t be changed, ensuring data remains secure.


**Q8.What is a hash table, and how does it relate to dictionaries in Python?**

Ans.  A hash table maps keys to values using a hash function. Python dictionaries are implemented using hash table, which allow constant time lookup for most operations.


**Q9.Can lists contain different data types in Python?**


Ans. yes, lists can contains different data types in python.

e.g - lst = [1, 2, 3.1, "pravesh", True]


**Q10. Explain why strings are immutable in Python?**

Ans.  for security ( string data can't be modified) and for memory efficiency.


**Q11.What advantages do dictionaries offer over lists for certain tasks?**

Ans : -

*   Fast lookup using keys instead of searching through indices.
*   Better for mapping relationships.


**Q12.Describe a scenario where using a tuple would be preferable over a list?**

Ans. While storing fixed data that should not be changed.


**Q13. How do sets handle duplicate values in Python?**

Ans. Sets automatically discard duplicate values.

e.g  s = {1,1,2,2,3,3,4,4}    while running this code it will give {1,2,3,4}


**Q14. How does the “in” keyword work differently for lists and dictionaries?**

Ans.  In LIST it checks if element exists. But in case of DICT it checks if keys exists or not.

 e.g.  3 in [1,2,3]  ( True)

   "name" in { "name": "pravesh"} (True)


**Q15. Can you modify the elements of a tuple? Explain why or why not?**

Ans. No, we can't modify elements of a tuple because tuples are immutable and can't be changed after creation.

**Q16. What is a nested dictionary, and give an example of its use case?**

Ans. A dictionary inside a dictionary is kmown as nested dictionary.

e.g.  d1 = {"name": "pravesh", "phn no."{"ph1":"1234", "ph2":"5678"}}


**Q17. Describe the time complexity of accessing elements in a dictionary?**

Ans. Average case :O(1) (constant time)

  Worst case : O(n) (due to hash collisions)

**Q18. In what situations are lists preferred over dictionaries?**

Ans.

*   when order matters
*   when only sequential access is needed.
*   when there is no need of key value pairs.  

**Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

Ans. Because they are based on hashing.


**Q20. Explain the difference between a list and a dictionary in terms of data retrieval?**

Ans. LIST - accessed by index ( l = [23,45,56]  l[2] gives "56"
     DICTIONARY - accessed by keys (d=  {"name":"pravesh","course":"data analstics"}   ,  d["course"] gives out "data analytics.

###                                          **PRACTICAL QUESTIONS**

In [1]:
# 1 create a string with your name and print it
s = "Pravesh"
print(s)

Pravesh

In [64]:
#2 length of the string "Hello World"
print(len("Hello World"))

11

In [3]:
#3 slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
s[:3]

'Pyt'

In [65]:
#4 convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [67]:
#5 replace the word 'apple' with 'orange' in the string 'i like apple'
a = "i like apple"
a.replace("apple","orange")

'i like orange'

In [7]:
#6 create a list with numbers 1 to 5 and print it
l1 = [1,2,3,4,5]
print(l1)

[1, 2, 3, 4, 5]

In [10]:
#7 append the number 10 to the list [1,2,3,4]
a= [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [12]:
#8 remove the number 3 from the list [1,2,3,4,5]
a = [1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [13]:
#9 access the second element in the list [a,b,c,d]
a = ['a','b','c','d']
a[1]

'b'

In [69]:
#10 reverse the list [10,20,30,40,50]
a = [10,20,30,40,50]
a.reverse() # also we can use print(a[::-1])
print(a)

[50, 40, 30, 20, 10]

In [17]:
#11 create a tuple with the elements 100,200,300 and print it
t = (100,200,300)
print(t)

(100, 200, 300)

In [18]:
#12 access the second to last element of the tuple ('red','green','blue','yellow')
a = ('red','green','blue','yellow')
a[-2]

'blue'

In [70]:
#13 find the minimum number in the tuple (10,20,5,15)
a = (10,20,5,15)
print(min(a))

5

In [71]:
#14 find the index in the element "cat" in the tuple ('dog','cat','rabbit')
t = ('dog','cat','rabbit')
print(t.index('cat'))

1

In [72]:
#15 create a tuple containing three different fruits and check if 'kiwi' is in it
a = ['apple','banana','kiwi']
print('kiwi' in a)

True

In [26]:
#16 create a set with elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [28]:
#17 clear all elements from set {1,2,3,4,5}
s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [31]:
#18 remove the element 4 from set {1,2,3,4}
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [73]:
#19 find the union of two sets {1,2,3} and {3,4,5}
a = {1,2,3}
b = {3,4,5}
print(a | b)        # "|" is a symbol for union

{1, 2, 3, 4, 5}

In [74]:
#20 find the intersection of two sets {1,2,3} and {2,3,4}
a = {1,2,3}
b = {2,3,4}
print(a & b)   # & symbol used for intersection

{2, 3}

In [75]:
#21 create a dictionary with the keys "name", "age" and "city" and print it
d = {"name": "pravesh", "age":24 , "city":"sonipat"}
print(d)

{'name': 'pravesh', 'age': 24, 'city': 'sonipat'}

In [47]:
#22 add a new key-value pair "country":"USA" to the dictionary {'name':'john','age':'25'}
d = {'name':'john','age':'25'}
d["country"] = "USA"
d

{'name': 'john', 'age': '25', 'country': 'USA'}

In [77]:
#23 access the value associated with the keys "name" in the dictionary {'name':'alice','age':'30'}
d = {'name':'alice','age':30}
print(d["name"])

alice

In [78]:
#24 remove the key "age" from dictionary {'name':'Bob','age':'22','city':'New York'}
d = {'name':'Bob','age':22,'city':'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [79]:
#25 check if the key "city" exists in the dictionary {'name':'Alice', 'city':'paris'}
d = {'name':'Alice', 'city':'paris'}
print('city' in d)

True

In [54]:
#26 create a list, a tuple and a dictionary and print them all
t = (1,2,3)
l = [1,2,3]
d = {'name': 'pravesh'}
print(t,l,d)

(1, 2, 3) [1, 2, 3] {'name': 'pravesh'}

In [82]:
#27 create a list of 5 random numbers between 1 to 100, sort it in ascending order and print the result(replaced)
l = [99,34,5,1,12]
sorted(l)

[1, 5, 12, 34, 99]

In [58]:
#28 create a list with strings and print the element at the 3rd index
l = [23,34,"pravesh"]
print(l[2])

pravesh

In [61]:
#29 combine two dictionaries into one and print the result
d1 = {'name': 'pravesh'}
d2 = {'age':'24'}
d1.update(d2)
print(d1)

{'name': 'pravesh', 'age': '24'}

In [83]:
#30 convert a list into a set
l = ['pravesh', 'age', '22', 'age'] # lists can contain duplicate elements
print(set(l)) # while converting it into set , set doesn't allow dupliate elements.

{'pravesh', '22', 'age'}